/**/
/*Estilos gerais*/

body {
    font-family: Arial, Helvetica, sans-serif;
}


/*HEADER*/

.grid-4 {
    background-color: red;
}

.header_menu {
    background-color: rgb(233, 16, 16);
    text-align: right;
}

.header_menu ul li{
    text-align: right;
    display: inline-block; /*Tira a quebra de linha dos li's*/
    margin-left: 25px;
    margin-top: 20px;
}

/**/

.header_menu ul li a{
    color: black;
    font-weight: bold;/*Deixa em negrito*/
    text-transform: uppercase;/*Deixa tudo maiúscula*/
    letter-spacing: .1em; /*É o espaçamento entre as letras*/
    font-size: 14px;/*Altura da letra*/
    list-style: 20px;
    padding: 10px 0; /*Esse paddin, aumenta a area de hiperlink*/
}


.header_menu ul li a:hover {
    color: #fff;
}

/**/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fec63e;
    padding: 15px 0;
}


/*INTRODUÇÂO*/