/**/
/*Estilos gerais*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

.btn {
    border: 3px solid #fec63e;
    padding: 10px 30px;
    color: #fec63e;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.btn:hover {
    color: white; 
    border-color:  #fff;
}


/*HEADER*/



.header_menu {
    text-align: right;
}

.header_menu ul li{
    text-align: right;
    display: inline-block; /*Tira a quebra de linha dos li's*/
    margin-left: 25px;
    margin-top: 20px;
}

/**/

.header_menu ul li a{
    color: black;
    font-weight: bold;/*Deixa em negrito*/
    text-transform: uppercase;/*Deixa tudo maiúscula*/
    letter-spacing: .1em; /*É o espaçamento entre as letras*/
    font-size: 14px;/*Altura da letra*/
    list-style: 20px;
    padding: 10px 0; /*Esse paddin, aumenta a area de hiperlink*/
}


.header_menu ul li a:hover {
    color: #fff;
}

/**/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fec63e;
    padding: 15px 0;
}


/*INTRODUÇÂO*/
/**/

.introducao {
    width: 100%;
    height: 380px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover; /*Cobri tudo*/
    margin-top: 96px;
    text-align: center;
    padding-top: 80px;
}


.introducao h1 {

    font-size: 48px;
    color:white;
    font-weight: bold;
    text-transform: uppercase;
}

.quote-externo {
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: white;
}

.quote-externo p {
    font-style: italic;
}

/**/

.quote-externo p:before, .quote-externo p:after {
    content: "";
    display: block;/*Mostra que é um elemento de bloco*/
    width: 60px;
    height: 3px;
    background: white;
    margin: 10px auto; /*Ajuda no alinhamento*/


}



.quote-externo cite {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
}

/**/
